<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- passenger module -->
    <!-- Repository -->
    <bean id="passengerRepository" class="com.bhagya.practice.repository.PassengerRepository"/>

    <!-- Service -->
    <bean id="PassengerService" class="com.bhagya.practice.service.PassengerService">
        <!--        <property name="PassengerRepository" ref="PassengerRepository"/>-->
        <constructor-arg ref="PassengerRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="PassengerController" class="com.bhagya.practice.controller.PassengerController">
        <constructor-arg ref="PassengerService"/>
    </bean>


    <!-- Flight module -->
    <bean id="FlightRepository" class="com.bhagya.practice.repository.FlightRepository"/>

    <!-- Service -->
    <bean id="FlightService" class="com.bhagya.practice.service.FlightService">
        <!--        <property name="FlightRepository" ref="FlightRepository"/>-->
        <constructor-arg ref="FlightRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="FlightController" class="com.bhagya.practice.controller.FlightController">
        <constructor-arg ref="FlightService"/>
    </bean>


    <!-- Ticket module -->
    <bean id="TicketRepository" class="com.bhagya.practice.repository.TicketRepository"/>

    <!-- Service -->
    <bean id="TicketService" class="com.bhagya.practice.service.TicketService">
        <!--        <property name="TicketRepository" ref="TicketRepository"/>-->
        <constructor-arg ref="TicketRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="TicketController" class="com.bhagya.practice.controller.TicketController">
        <constructor-arg ref="TicketService"/>
    </bean>


    <!-- Billing module -->
    <bean id="BillingRepository" class="com.bhagya.practice.repository.BillingRepository"/>

    <!-- Service -->
    <bean id="BillingService" class="com.bhagya.practice.service.BillingService">
        <!--        <property name="BillingRepository" ref="BillingRepository"/>-->
        <constructor-arg ref="BillingRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="BillingController" class="com.bhagya.practice.controller.BillingController">
        <constructor-arg ref="BillingService"/>
    </bean>

</beans>